:host {
  display: block;
}

:host([hidden]) {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.range {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-moz-focus-outer {
    border: 0;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
  }

  &::-moz-range-track {
    width: 100%;
  }

  &::-ms-track {
    width: 100%;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &::-moz-range-thumb {
    border: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::-ms-thumb {
    border: none;
    appearance: none;
  }
}
