progress {
  width: 100%;
  height: 4px;
  color: rgb(var(--abm-primary-rgb, 33, 150, 243));
  vertical-align: middle;
  background-color: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &::-ms-fill {
    background-color: currentColor;
    border: none;
    transition: all 0.2s;
  }

  &:indeterminate {
    background-image: linear-gradient(to right, currentColor 16%, transparent 16%),
      linear-gradient(to right, currentColor 16%, transparent 16%),
      linear-gradient(to right, currentColor 25%, transparent 25%);
    background-size: 200% 100%;
    animation: abm-progress-linear 1.8s infinite linear;

    &::-webkit-progress-value {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }

    &::-ms-fill {
      animation-name: none;
    }
  }
}

@keyframes abm-progress-linear {
  0% {
    background-position: 32% 0, 32% 0, 50% 0;
  }
  2% {
    background-position: 32% 0, 32% 0, 50% 0;
  }
  21% {
    background-position: 32% 0, -18% 0, 0 0;
  }
  42% {
    background-position: 32% 0, -68% 0, -27% 0;
  }
  50% {
    background-position: 32% 0, -93% 0, -46% 0;
  }
  56% {
    background-position: 32% 0, -118% 0, -68% 0;
  }
  66% {
    background-position: -11% 0, -200% 0, -100% 0;
  }
  71% {
    background-position: -32% 0, -200% 0, -100% 0;
  }
  79% {
    background-position: -54% 0, -242% 0, -100% 0;
  }
  86% {
    background-position: -68% 0, -268% 0, -100% 0;
  }
  100% {
    background-position: -100% 0, -300% 0, -100% 0;
  }
}
