:host {
  outline: none;
}

.switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
  font-size: 16px;
  line-height: 1.5;

  &:hover {
    .input {
      opacity: 0.12;

      &:focus {
        opacity: 0.24;
      }
    }
  }
}

/* Input */
.input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;

  &:focus {
    opacity: 0.16;
  }

  &:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;

    + .label {
      &::before {
        background-color: rgba(var(--abm-primary-color, 33, 150, 243), 0.6);
      }
    }
  }

  &:checked {
    right: -10px;
    background-color: rgb(var(--abm-primary-color, 33, 150, 243));

    + .label {
      &::before {
        background-color: rgba(var(--abm-primary-color, 33, 150, 243), 0.6);
      }

      &::after {
        background-color: rgb(var(--abm-primary-color, 33, 150, 243));
        transform: translateX(16px);
      }
    }

    &:active {
      + .label {
        &::before {
          background-color: rgba(0, 0, 0, 0.38);
        }
      }
    }

    &:disabled {
      + .label {
        &::before {
          background-color: rgba(var(--abm-primary-color, 33, 150, 243), 0.6);
        }
      }
    }
  }

  &:disabled {
    opacity: 0;

    + .label {
      color: #000;
      opacity: 0.38;
      cursor: default;

      &::before {
        background-color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}

/* Span */
.label {
  display: inline-block;
  width: 100%;
  cursor: pointer;

  &::before {
    content: "";
    float: right;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
  }
}
