:host {
  --abm-range-hover-webkit-shadow: rgba(var(--abm-primary-color, 33, 150, 243), 0.12);
  --abm-range-focus-webkit-shadow: rgba(var(--abm-primary-color, 33, 150, 243), 0.16);
  --abm-range-active-webkit-shadow: rgba(var(--abm-primary-color, 33, 150, 243), 0.24);
}

.range {
  height: 48px;

  &::-webkit-slider-runnable-track {
    margin: 17px 0;
    border-radius: 1px;
    height: 2px;
    background-color: rgba(var(--abm-primary-color, 33, 150, 243), 0.24);
  }

  &::-moz-range-track {
    margin: 17px 0;
    border-radius: 1px;
    height: 2px;
    background-color: rgba(var(--abm-primary-color, 33, 150, 243), 0.24);
  }

  &::-ms-track {
    box-sizing: border-box;
    margin: 17px 0;
    border: none;
    border-radius: 1px;
    padding: 0 17px;
    height: 2px;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    border-radius: 1px;
    height: 2px;
    background-color: rgba(var(--abm-primary-color, 33, 150, 243), 0.24);
  }

  &::-webkit-slider-thumb {
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: var(--abm-primary-color, rgb(33, 150, 243));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
  }

  &::-moz-range-thumb {
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: var(--abm-primary-color, rgb(33, 150, 243));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
  }

  &::-ms-thumb {
    margin: 0 17px;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: var(--abm-primary-color, rgb(33, 150, 243));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px var(--abm-range-focus-webkit-shadow);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-color, 33, 150, 243), 0.16);
    }

    &::-ms-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-color, 33, 150, 243), 0.16);
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px var(--abm-range-active-webkit-shadow) !important;
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 3px rgba(var(--abm-primary-color, 33, 150, 243), 0.24) !important;
    }

    &::-ms-thumb {
      box-shadow: 0 0 0 3px rgba(var(--abm-primary-color, 33, 150, 243), 0.24) !important;
    }
  }

  &:disabled {
    opacity: 0.38;

    &::-webkit-slider-runnable-track {
      background-color: rgba(0, 0, 0, 0.38);
    }

    &::-moz-range-track {
      background-color: rgba(0, 0, 0, 0.38);
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background-color: rgba(0, 0, 0, 0.38);
    }

    &::-webkit-slider-thumb {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
      transform: scale(4, 4);
    }

    &::-moz-range-thumb {
      background-color: rgb(0, 0, 0);
      box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
      transform: scale(4, 4);
    }

    &::-ms-thumb {
      background-color: rgb(0, 0, 0);
      box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
      transform: scale(4, 4);
    }
  }
}

:host(:hover) {
  .range {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px var(--abm-range-hover-webkit-shadow);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
    }

    ::-ms-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
    }

    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 2px var(--abm-range-active-webkit-shadow);
      }

      &::-moz-range-thumb {
        box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
      }

      &::-ms-thumb {
        box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
      }
    }
  }
}
