:host {
  outline: none;

  --abm-range-hover-webkit-shadow: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
  --abm-range-focus-webkit-shadow: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.16);
  --abm-range-active-webkit-shadow: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
}

.range {
  height: 48px;

  &::-webkit-slider-runnable-track {
    height: 2px;
    margin: 17px 0;
    background-color: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
    border-radius: 1px;
  }

  &::-moz-range-track {
    height: 2px;
    margin: 17px 0;
    background-color: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
    border-radius: 1px;
  }

  &::-ms-track {
    box-sizing: border-box;
    height: 2px;
    padding: 0 17px;
    margin: 17px 0;
    border: none;
    border-radius: 1px;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    height: 2px;
    background-color: rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
    border-radius: 1px;
  }

  &::-webkit-slider-thumb {
    width: 2px;
    height: 2px;
    background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
    border-radius: 50%;
    transition: box-shadow 0.2s;
    transform: scale(6, 6);
  }

  &::-moz-range-thumb {
    width: 2px;
    height: 2px;
    background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
    border-radius: 50%;
    transition: box-shadow 0.2s;
    transform: scale(6, 6);
  }

  &::-ms-thumb {
    width: 2px;
    height: 2px;
    margin: 0 17px;
    background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
    border-radius: 50%;
    transition: box-shadow 0.2s;
    transform: scale(6, 6);
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px var(--abm-range-focus-webkit-shadow);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
    }

    &::-ms-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      /* stylelint-disable-next-line declaration-no-important */
      box-shadow: 0 0 0 3px var(--abm-range-active-webkit-shadow) !important;
    }

    &::-moz-range-thumb {
      /* stylelint-disable-next-line declaration-no-important */
      box-shadow: 0 0 0 3px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24) !important;
    }

    &::-ms-thumb {
      /* stylelint-disable-next-line declaration-no-important */
      box-shadow: 0 0 0 3px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24) !important;
    }
  }

  &:disabled {
    opacity: 0.38;

    &::-webkit-slider-runnable-track {
      background-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
    }

    &::-moz-range-track {
      background-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
    }

    &::-webkit-slider-thumb {
      color: rgb(var(--abm-surface-rgb, 255, 255, 255));
      background-color: rgb(var(--abm-onsurface-rgb, 0, 0, 0));
      /* stylelint-disable-next-line declaration-no-important */
      box-shadow: 0 0 0 1px rgb(var(--abm-surface-rgb, 255, 255, 255)) !important;
      transform: scale(4, 4);
    }

    &::-moz-range-thumb {
      background-color: rgb(var(--abm-onsurface-rgb, 0, 0, 0));
      /* stylelint-disable-next-line declaration-no-important */
      box-shadow: 0 0 0 1px rgb(var(--abm-surface-rgb, 255, 255, 255)) !important;
      transform: scale(4, 4);
    }

    &::-ms-thumb {
      background-color: rgb(var(--abm-onsurface-rgb, 0, 0, 0));
      /* stylelint-disable-next-line declaration-no-important */
      box-shadow: 0 0 0 1px rgb(var(--abm-surface-rgb, 255, 255, 255)) !important;
      transform: scale(4, 4);
    }
  }
}

:host(:hover) {
  .range {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px var(--abm-range-hover-webkit-shadow);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
    }

    ::-ms-thumb {
      box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.12);
    }

    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 2px var(--abm-range-active-webkit-shadow);
      }

      &::-moz-range-thumb {
        box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
      }

      &::-ms-thumb {
        box-shadow: 0 0 0 2px rgba(var(--abm-primary-rgb, 33, 150, 243), 0.24);
      }
    }
  }
}
