:host {
  outline: none;
}

.checkbox {
  position: relative;
  z-index: 0;
  display: inline-block;
  font-family: var(--abm-font, Roboto, "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.87);

  &:hover {
    .input:not(:disabled) {
      opacity: 0.04;

      &:focus {
        opacity: 0.12;
      }
    }
  }
}

.input {
  position: absolute;
  top: -8px;
  left: -10px;
  z-index: -1;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  pointer-events: none;
  background-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.2s;
  transform: scale(1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    opacity: 0.16;
  }

  &:active {
    opacity: 1;
    transition: transform 0s, opacity 0s;
    transform: scale(0);

    + .label::before {
      border-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
    }
  }

  &:checked,
  &:indeterminate {
    background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));

    + .label {
      &::before {
        background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
        border-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
      }

      &::after {
        border-color: rgb(var(--abm-onprimary-rgb, 255, 255, 255));
      }
    }
  }

  &:indeterminate + .label::after {
    border-left: none;
    transform: translate(4px, 3px);
  }

  &:checked:active + .label::before {
    background-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.6);
    border-color: transparent;
  }

  &:disabled {
    opacity: 0;

    + .label {
      color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
      cursor: initial;

      &::before {
        border-color: currentColor;
      }
    }
  }

  &:checked:disabled + .label::before,
  &:indeterminate:disabled + .label::before {
    background-color: currentColor;
    border-color: transparent;
  }
}

.label {
  display: inline-block;
  width: 100%;
  cursor: pointer;

  &::before {
    box-sizing: border-box;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 3px 11px 3px 1px;
    vertical-align: top;
    content: "";
    border: solid 2px; /* Safari */
    border-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    transition: border-color 0.2s, background-color 0.2s;
  }

  &::after {
    position: absolute;
    top: 3px;
    left: 1px;
    display: block;
    width: 10px;
    height: 5px;
    content: "";
    border: solid 2px transparent;
    border-top: none;
    border-right: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }
}
