{
  "extends": [
    "plugin:import/recommended",
    "plugin:lit/recommended",
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [ "render" ]
      }
    ],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": [ "*.spec.js" ],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": false,
        "sinon": false
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
