{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "scss/dollar-variable-default": null,
    "number-leading-zero": null,
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["appearance"]
    }]
  }
}
