{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "scss/dollar-variable-default": null,
    "scss/operator-no-newline-after": null,
    "font-family-no-missing-generic-family-keyword": [true, {
      "ignoreFontFamilies": ["/icons/"]
    }],
    "number-leading-zero": null,
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["appearance", "user-select"]
    }],
    "selector-max-id": 1,
    "selector-no-qualifying-type": [true, {
      "ignore": ["attribute"]
    }],
    "selector-type-no-unknown": [true, {
      "ignore": ["custom-elements"]
    }]
  }
}
