:host {
  outline: none;
}

.switch {
  line-height: 1.5;
}

.input {

  &:focus {
    + .label {
      &::before {
        box-shadow: 0 0 0 2px rgba(59, 153, 252, 0.5);
      }
    }
  }

  &:disabled {
    cursor: default;

    + .label {
      opacity: 0.5;

      &::before {
        opacity: 0.75;
      }

      &::after {
        opacity: 0.75;
      }
    }
  }

  &:checked {
    + .label {
      &::before {
        background: #fff;
      }
    }
  }
}

.label {
  font-size: 1rem;
  padding-left: 3.25rem;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  &::before {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 2.75rem;
    height: 1.5rem;
    border: solid 1px #ccc;
    border-radius: 24px;
    background: #e2e2e2;
  }

  &::after {
    position: absolute;
    box-sizing: border-box;
    top: 0.125rem;
    left: 0.125rem;
    width: 1.25rem;
    height: 1.25em;
    transform: translate3d(0, 0, 0);
    border: solid 1px #ccc;
    border-radius: 50%;
    background: #fff;
    transition: all 0.25s ease-out;
  }
}

.input:checked {
  + .label {
    &::after {
      left: 1.375rem;
    }
  }
}
