:host {
  outline: none;
}

.switch {
  line-height: 1.5;
}

.input {
  position: absolute;
  outline: none;
  opacity: 0;

  &:focus {
    + .label {
      &::before {
        box-shadow: 0 0 0 2px rgba(59, 153, 252, 0.5);
      }
    }
  }

  &:disabled {
    cursor: default;

    + .label {
      opacity: 0.5;

      &::before {
        opacity: 0.75;
      }

      &::after {
        opacity: 0.75;
      }
    }
  }

  &:checked {
    + .label {
      &::before {
        background: #fff;
      }

      &::after {
        left: 1.375rem;
      }
    }
  }
}

.label {
  padding-left: 3.25rem;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 2.75rem;
    height: 1.5rem;
    background: #e2e2e2;
    border: solid 1px #ccc;
    border-radius: 24px;
  }

  &::after {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    box-sizing: border-box;
    width: 1.25rem;
    height: 1.25em;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 50%;
    transition: all 0.25s ease-out;
    transform: translate3d(0, 0, 0);
  }
}
