progress {
  display: block;
  width: 100%;
  height: 0.75rem;
  color: #ccc;
  background-color: #e2e2e2;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &::-ms-fill {
    background-color: currentColor;
    border: none;
    transition: all 0.2s;
  }

  &:indeterminate {
    background-image: linear-gradient(to right, currentColor 30%, transparent 30%);
    background-size: 200% 100%;
    animation: abw-progress 2.5s infinite linear;

    &::-webkit-progress-value {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }

    &::-ms-fill {
      animation-name: none;
    }
  }
}

@keyframes abw-progress {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}
