:host {
  outline: none;
}

.button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  min-width: 64px;
  height: 36px;
  padding: 0 8px;
  margin: 0;
  font-family: var(--abm-font, Roboto, "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  color: rgb(var(--abm-primary-rgb, 33, 150, 243));
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: inherit;
    opacity: 0;
  }

  &::before {
    background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
    transition: opacity 0.2s;
  }

  &::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000%
      10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
  }

  &:hover {
    &::before {
      opacity: 0.04;
    }

    &:focus {
      &::before {
        opacity: 0.16;
      }
    }
  }

  &:focus {
    &::before {
      opacity: 0.12;
    }
  }

  &:active:not([disabled]) {
    &::after {
      background-size: 100% 100%;
      opacity: 0.16;
      transition: background-size 0s;
    }
  }

  &[disabled] {
    color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
    cursor: initial;
    background-color: transparent;

    &::before,
    &::after {
      opacity: 0;
    }
  }
}

:host([theme="contained"]) {
  .button {
    padding: 0 16px;
    color: rgb(var(--abm-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--abm-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s;

    &::before {
      background-color: rgb(var(--abm-onprimary-rgb, 255, 255, 255));
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    &:hover {
      &::before {
        opacity: 0.08;
      }

      &:focus {
        &::before {
          opacity: 0.32;
        }
      }
    }

    &:focus {
      &::before {
        opacity: 0.24;
      }
    }

    &:active:not([disabled]) {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

      &::after {
        opacity: 0.32;
      }
    }

    &[disabled] {
      color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.12);
      box-shadow: none;
    }
  }
}

:host([theme="outlined"]) {
  .button {
    padding: 0 16px;
    line-height: 34px;
    border: solid 1px rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.24);

    &::before,
    &::after {
      border-radius: 3px;
    }

    &:hover {
      &::before {
        opacity: 0.04;
      }

      &:focus {
        &::before {
          opacity: 0.16;
        }
      }
    }

    &:focus {
      &::before {
        opacity: 0.12;
      }
    }

    &[disabled] {
      color: rgba(var(--abm-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: transparent;
    }
  }
}
