/**
 * Layout: 2-column commons.
 */
@use "~@conversionxl/cxl-lumo-styles/scss/mixins";
@use "layout";

$vertical-padding: var(--cxl-wrap-padding);

/**
 * Drawer.
 */
/* stylelint-disable no-duplicate-selectors */
:host([layout^="2c"]) {
  aside {
    --cxl-app-layout-drawer-transition: 0.25s cubic-bezier(0, 1, 0, 1);

    position: relative;
    // @see https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
    max-height: var(--lumo-font-size-xxl);
    padding-bottom: calc(35px + var(--lumo-space-xl)); // Peek partial content.
    transition: var(--cxl-app-layout-drawer-transition);

    // Exclude vaadin-button.
    ::slotted(*) {
      opacity: 0.2;
    }

    &[opened] {
      max-height: calc(100vh * 2);
      padding-bottom: var(--lumo-space-xl);

      ::slotted(*) {
        opacity: unset;
      }

      [icon="#{layout.$toggle-icon}"] {
        transform: rotate(-90deg);
      }
    }

    > vaadin-button {
      position: absolute; // `position: sticky` retains position on scroll, but creates vertical space.
      bottom: -1px; // Clip border.
      z-index: 1;
      padding: 0;
      margin: unset;
      margin-left: var(--cxl-wrap-padding);
      background-color: var(--lumo-base-color);
      border: solid 1px var(--lumo-contrast-10pct);
    }

    [icon="#{layout.$toggle-icon}"] {
      transform: rotate(90deg);
    }

    /**
     * Widgets.
     */
    ::slotted(.widget) {
      // Match `main`.
      @include mixins.wrap();

      margin-top: $vertical-padding;
      margin-bottom: $vertical-padding;
    }

    ::slotted(.widget.has-background) {
      padding-top: $vertical-padding;
      padding-bottom: $vertical-padding;
      margin-top: unset;
      margin-bottom: unset;
    }
  }

  main {
    position: relative; // Avoid `aside:not([opened])` bleeding through.
    display: flow-root;
    background-color: var(--lumo-base-color);
    border-top: solid 1px var(--lumo-contrast-10pct);
  }
}

:host([layout^="2c"][wide]) {
  aside {
    --cxl-app-layout-drawer-width: calc(22 * var(--lumo-space-m));
    --cxl-app-layout-drawer-padding: calc(var(--cxl-wrap-padding) * 2);
    --cxl-app-layout-drawer-peek-margin: calc(
      -1 * (var(--cxl-app-layout-drawer-width) - var(--cxl-app-layout-drawer-padding) + 12px)
    );

    z-index: 0;
    flex: 0 0 auto;
    width: var(--cxl-app-layout-drawer-width);
    max-height: unset;
    padding-bottom: unset;
    margin-right: var(--cxl-app-layout-drawer-peek-margin);

    &[opened] {
      margin-right: 0;

      [icon="#{layout.$toggle-icon}"] {
        transform: rotate(180deg);
      }
    }

    > vaadin-button {
      top: calc(#{$vertical-padding} - 6px);
      bottom: unset;
      margin-left: unset;
      transition: var(--cxl-app-layout-drawer-transition);

      &:hover {
        color: var(--lumo-primary-color);
      }
    }

    [icon="#{layout.$toggle-icon}"] {
      transform: unset;
    }
  }

  main {
    flex-grow: 1;
    border-top: unset;

    [icon="#{layout.$toggle-icon}"] {
      transform: unset;
    }
  }

  #main {
    /**
     * Wrap content, space edges.
     */
    @include mixins.wrap();

    display: flex;
    width: calc(100% - var(--cxl-wrap-padding) * 2);
  }
}

/**
 * Fixed container, scrolling content panels.
 *
 * @see https://codepen.io/geon/pen/obrWxm
 */
:host([layout^="2c"][wide][scroll="panels"]) {
  position: absolute;
  width: 100%;
  height: 100%;

  #main {
    height: 100%; // Safari.
    overflow: hidden;

    aside,
    main {
      overflow-y: auto;
      scrollbar-width: thin;

      @include mixins.better-webkit-scrollbars();
    }
  }
}

/**
 * Visuals.
 */
:host([layout^="2c"][wide]) {
  main {
    box-shadow: var(--lumo-box-shadow-s);
  }
}
/* stylelint-enable no-duplicate-selectors */
