@import "~@conversionxl/cxl-ui/scss/cxl-card";

:host(:not[disabled]) {
  [part="summary"]:hover {
    [part="toggle"] {
      color: var(--lumo-primary-color);
    }
  }
}

:host([opened]) {
  border-color: var(--lumo-primary-color);

  [part="toggle"] {
    transform: rotate(180deg);
  }
}

/**
 * Shadow parts.
 */
[part="content"] {
  padding: unset;
}

[part="summary"] {
  flex-direction: column-reverse;
  align-items: stretch;
}

[part="toggle"] {
  align-self: center;

  &::before {
    content: var(--lumo-icons-angle-down);
  }
}

/**
 * Slots.
 */
::slotted(.entry-header) {
  display: flex;
  flex-wrap: wrap;
}
