::slotted(a) {
  // Increase link click surface.
  display: block;

  color: inherit !important; /* stylelint-disable-line declaration-no-important */
}

::slotted(a:not(:hover)) {
  text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
}
