@use "../mixins";

// Collapse margins.
:host([orientation="vertical"][theme~="cxl-marketing-nav"]) {
  display: flex;
  flex-direction: column;
}

/**
 * Wrap.
 */
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) {
  justify-content: center;
}

// Override `justify-content: center`.
// @todo upstream `forward-button` has `right: 0`, but nothing for this. Bug?
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) [part="back-button"] {
  left: 0;
}

:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) [part="tabs"] {
  @include mixins.wrap();
}

/**
 * Unify orientations side margins and padding
 */
$vaadin-tab-horizontal-padding: 0.75rem;

// Reduce spacing between tabs. Vertical is noop, upstream padding already matches our wrap.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item) {
  padding-right: $vaadin-tab-horizontal-padding;
  padding-left: $vaadin-tab-horizontal-padding;
}

// Match container wrap.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item:first-child) {
  padding-left: 0;
}
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item:last-child) {
  padding-right: 0;
}

/**
 * User configurable menu item display for [non-]wide states.
 */
/* stylelint-disable-next-line selector-class-pattern */
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-not-wide) {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
:host([orientation="vertical"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-wide) {
  display: none;
}

// Split navigation pattern.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-split-nav) {
  margin-left: auto;
}

// Search menu item.
:host([theme~="cxl-marketing-nav"]#menu-shadow-items) ::slotted(.menu-item-search) {
  margin-right: auto;
  margin-left: auto;
}

// show horizontal scrollbar
// needs to refactor, so utilize custom css properties
:host([orientation="horizontal"][theme~="cxl-jobs-horizontal-slider"]) [part="tabs"] {
  // override default vaadin-tabs overflow
  overflow-x: auto;

  &::-webkit-scrollbar {
    // override default vaadin-tabs scrollbar display
    display: initial;

    width: 2px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #d61f2c;
    border: 0 none #fff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #d61f2c;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;
    border: 0 none #fff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
