// Perfectly align modal in the center of the screen.
:host([theme~="cxl-marketing-nav"][phone]) [part="overlay"] {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

// Reduce visual noise below overlay.
:host([theme~="cxl-marketing-nav"]) [part="backdrop"] {
  $vaadin-overlay-shade-pct: 20;

  background-color: var(--lumo-shade-#{$vaadin-overlay-shade-pct * 3.5}#{"pct"});
}
