// Collapse margins.
:host([orientation="vertical"][theme~="cxl-marketing-nav"]) {
  display: flex;
  flex-direction: column;
}

/**
 * Unify orientations side margins and padding
 */
$vaadin-tab-padding: 0.75rem;

// Match container margins w/ spacing between tabs
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) [part="tabs"] {
  margin-right: $vaadin-tab-padding;
  margin-left: $vaadin-tab-padding;
}

// Align horizontal Global nav with vertical Primary nav
:host([orientation="horizontal"][theme~="cxl-marketing-nav"][wide="false"]) [part="tabs"] {
  margin-right: 0;
  margin-left: 0;
}

// Reduce spacing between tabs
:host([theme~="cxl-marketing-nav"]) ::slotted(.menu-item) {
  padding-right: $vaadin-tab-padding;
  padding-left: $vaadin-tab-padding;
}

/**
 * User configurable menu item display for [non-]wide states.
 */
/* stylelint-disable-next-line selector-class-pattern */
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-not-wide) {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
:host([orientation="vertical"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-wide) {
  display: none;
}

// Split navigation pattern.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-split-nav) {
  margin-left: auto;
}

// Search menu item.
:host([theme~="cxl-marketing-nav"]#menu-shadow-items) ::slotted(.menu-item-search) {
  margin-right: auto;
  margin-left: auto;
}
