@import "variables";

:host {
  --contrast-ratio: 25;
}

@each $theme, $hsl in $themes {
  $h: nth($hsl, 1);
  $s: nth($hsl, 2);
  $l: nth($hsl, 3);

  :host([theme="#{$theme}"]) {
    /* Store separate values for further calculations */
    --abu-h: #{$h};
    --abu-s: #{$s};
    --abu-l: #{$l};

    /* Store raw set for using in focus-ring hsla() */
    --abu-hsl: var(--abu-h), calc(var(--abu-s) * 1%), calc(var(--abu-l) * 1%);

    /* Main theme color for background, borders etc */
    --abu-color: hsl(var(--abu-hsl));

    /* https://codepen.io/depoulo/pen/WLGeQz
      Calculate the contrast color lightness:
      1. Take the 1/x function
      2. Turn it upside down: -1/x
      2. Adjust it to the x and y axis, but avoid -Infinity being hit,
          since it tends to act funny when used in further calculations
          (make sure the input lightness value is rounded to at most 2 decimal points):
          -1/(x-49.999)+x
      3. Make it less curved, so the y-axis makes sense between 0 and 100:
          -2500/(x-49.999)+x
      4. Adjust the curve with the contrast ratio,
          but make sure we're never multiplying by 0: (-2500*(c/100+1))/(x-49.999)+x
    */
    --abu-contrast: hsl(
      var(--abu-h),
      calc(var(--abu-s) * 1%),
      calc(
        (-2500 * (var(--contrast-ratio) * 1% / 100 + 1%)) /
          (var(--abu-l) - 49.999) +
          var(--abu-l) *
          1%
      )
    );
  }
}
