:host {
  display: block;
}

:host([hidden]) {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.switch {
  box-sizing: border-box;
  display: inline-block;
}

.label {
  position: relative;
  display: inline-block;

  &::before {
    display: block;
    content: "";
  }

  &::after {
    display: block;
    content: "";
  }
}
