@import "variables";

$progress-bar-color: var(--abu-progress-bar-color, #{$grey-lighter});
$progress-value-color: var(--abu-progress-value-color, #{$grey-dark});

progress {
  height: $size-normal;
  border-radius: $radius-rounded;

  &::-webkit-progress-bar {
    background-color: $progress-bar-color;
  }

  &::-webkit-progress-value {
    background-color: var(--abu-color, #{$progress-value-color});
  }

  &::-moz-progress-bar {
    background-color: var(--abu-color, #{$progress-value-color});
  }

  &::-ms-fill {
    background-color: var(--abu-color, #{$progress-value-color});
  }

  &:indeterminate {
    background-color: $progress-bar-color;
    background-image: linear-gradient(
      to right,
      var(--abu-color, #{$progress-value-color}) 30%,
      $progress-bar-color 30%
    );
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 150% 150%;
    animation: abu-progress 1.5s infinite linear;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}

@keyframes abu-progress {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: (-200%) 0;
  }
}

:host([size="small"]) {
  progress {
    height: $size-small;
  }
}

:host([size="medium"]) {
  progress {
    height: $size-medium;
  }
}

:host([size="large"]) {
  progress {
    height: $size-large;
  }
}
