@import "../../common/variables";

:host {
  outline: none;
}

$button-color: var(--abu-button-color, #{$grey-darker});
$button-background: var(--abu-button-bg-color, #{$white});
$button-border-color: var(--abu-button-border-color, #{$grey-lighter});
$button-hover-border-color: var(--abu-button-hover-border-color, #{$grey-light});
$button-active-border-color: var(--abu-button-active-border-color, #{$grey-dark});

.button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.25em;
  padding: calc(0.375em - 1px) 0.75em;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: $size-normal;
  line-height: 1.5;
  color: var(--abu-contrast, #{$button-color});
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--abu-color, #{$button-background});
  border: 1px solid $button-border-color;
  border-radius: $radius;
  outline: none;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:hover {
    color: $button-color;
    border-color: $button-hover-border-color;
  }

  &:focus {
    color: $button-color;
    border-color: $link;

    /* Safari requires this */
    --abu-button-focus-shadow: hsla(
      var(--abu-hsl, #{$link-h}, calc(#{$link-s} * 1%), calc(#{$link-l} * 1%)),
      0.25
    );

    &:not(:active) {
      box-shadow: 0 0 0 0.125em var(--abu-button-focus-shadow);
    }
  }

  &:active {
    color: $button-color;
    border-color: $button-active-border-color;
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    background-color: var(--abu-color, #{$button-background});
    border-color: $button-border-color;
    box-shadow: none;
    opacity: 0.5;
  }
}

:host([size="small"]) {
  .button {
    font-size: $size-small;
    border-radius: $radius-small;
  }
}

:host([size="medium"]) {
  .button {
    font-size: $size-medium;
  }
}

:host([size="large"]) {
  .button {
    font-size: $size-large;
  }
}

:host([rounded]) {
  .button {
    padding-right: 1em;
    padding-left: 1em;
    border-radius: $radius-rounded;
  }
}

%button-theme {
  .button {
    border-color: transparent;

    &:hover {
      color: var(--abu-contrast);
      border-color: transparent;
    }

    &:focus {
      color: var(--abu-contrast);
    }
  }
}

%button-theme-outlined {
  .button {
    color: var(--abu-color);
    background-color: transparent;
    border-color: var(--abu-color);

    &:hover,
    &:focus {
      color: var(--abu-contrast);
      background-color: var(--abu-color);
      border-color: var(--abu-color);
    }

    &[disabled] {
      color: var(--abu-color);
      background-color: transparent;
      border-color: var(--abu-color);
    }
  }
}

@each $theme, $hsl in $themes {
  $l: nth($hsl, 3);

  :host([theme="#{$theme}"]) {
    @extend %button-theme;
  }

  :host([theme="#{$theme}"]:hover) {
    --abu-l: calc(#{$l} - 5);
  }

  :host([theme="#{$theme}"][outlined]) {
    @extend %button-theme-outlined;
  }
}
