@import "variables";

$checkbox-border: var(--abu-checkbox-border-color, #{$grey-lighter});

@mixin checkbox-size($size) {
  $newSize: $size * 1.5;
  $height: $newSize / 2.5;
  $width: $newSize / 4;

  .label {
    padding-left: $size * 2;
    font-size: $size;

    &::before {
      width: $newSize;
      height: $newSize;
    }

    &::after {
      top: ($newSize / 2 - $height / 2) * 0.9;
      left: $height;
      width: $width;
      height: $height;
    }
  }
}

.input {
  position: absolute;
  display: inline-block;
  user-select: none;
  outline: 0;
  opacity: 0;

  &:focus {
    + .label {
      /* Safari requires this */
      --abu-focus-shadow: hsla(
        var(--abu-hsl, #{$primary-h}, calc(#{$primary-s} * 1%), calc(#{$primary-l} * 1%)),
        0.25
      );

      &::before {
        box-shadow: 0 0 0 0.125rem var(--abu-focus-shadow);
      }
    }
  }

  &:hover:not(:disabled) {
    + .label {
      &::before {
        border-color: var(--abu-color, $primary);
      }
    }
  }

  &:checked,
  &:indeterminate {
    + .label {
      &::after {
        display: inline-block;
      }
    }
  }

  &:checked {
    + .label {
      &::before {
        border: 0.125rem solid $checkbox-border;
      }
    }
  }

  &:indeterminate {
    + .label {
      &::after {
        border-bottom: none;
        transform: rotate(90deg);
      }
    }
  }

  &:disabled {
    + .label {
      cursor: default;
      opacity: 0.5;
    }
  }
}

.label {
  position: relative;
  display: inline-block;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  cursor: pointer;
  border-radius: $radius;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    content: "";
    border: 0.125rem solid $checkbox-border;
    border-radius: $radius;
  }

  &::after {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    display: none;
    content: "";
    border-color: var(--abu-color, #{$primary});
    border-style: solid;
    border-width: 0.125rem;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
  }
}

:host {
  outline: none;
  @include checkbox-size($size-normal);
}

:host([size="small"]) {
  @include checkbox-size($size-small);
}

:host([size="medium"]) {
  @include checkbox-size($size-medium);
}

:host([size="large"]) {
  @include checkbox-size($size-large);
}

:host([filled]) {
  /* Use contrast for checkmark */
  --abu-primary-contrast: hsl(
    #{$primary-h},
    calc(#{$primary-s} * 1%),
    calc(
      (-2500 * (var(--contrast-ratio) * 1% / 100 + 1%)) / (#{$primary-l} - 49.999) + #{$primary-l} *
        1%
    )
  );

  .label {
    &::before {
      background-color: var(--abu-color, #{$primary});
      border-color: transparent;
    }

    &::after {
      background-color: var(--abu-color, #{$primary});
      border-color: var(--abu-contrast, var(--abu-primary-contrast));
    }
  }

  .input {
    &:checked,
    &:indeterminate {
      + .label {
        &::before {
          border-color: transparent;
        }

        &::after {
          border-color: var(--abu-contrast, var(--abu-primary-contrast));
        }
      }
    }
  }
}
