@import "../../common/variables";

$slider-radius: $radius;
$slider-track-bg: var(--abu-range-track-bg, $grey-lighter);
$slider-track-radius: $radius;

$slider-thumb-background: var(--abu-range-thumb-bg, $white);
$slider-thumb-radius: $radius;
$slider-thumb-border: 1px solid $grey-light;
$slider-thumb-to-track-ratio: 2;

@mixin slider-size($size) {
  $track-height: $size / $slider-thumb-to-track-ratio;
  $thumb-size: $size;

  min-height: calc((#{$size} + 2px) * 1.25);

  &::-webkit-slider-runnable-track {
    height: $track-height;
  }

  &::-moz-range-track {
    height: $track-height;
  }

  &::-ms-track {
    height: $track-height;
  }

  &::-webkit-slider-thumb {
    width: $thumb-size;
    height: $thumb-size;
    margin-top: -($thumb-size / 4);
  }

  &::-moz-range-thumb {
    width: $thumb-size;
    height: $thumb-size;
  }

  &::-ms-thumb {
    width: $thumb-size;
    height: $thumb-size;
    margin-top: 0;
  }
}

:host {
  margin: 1rem 0;
  outline: none;
}

.range {
  &:focus {
    outline: none;

    &:not(:active) {
      // Pseudo-elements must be split across multiple rulesets to have an effect.
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.125rem rgba($link, 0.25);
      }
      &::-moz-range-thumb {
        box-shadow: 0 0 0 0.125rem rgba($link, 0.25);
      }
      &::-ms-thumb {
        box-shadow: 0 0 0 0.125rem rgba($link, 0.25);
      }
    }
  }

  &::-webkit-slider-runnable-track {
    cursor: pointer;
    background-color: $slider-track-bg;
    border: 0;
    border-radius: $slider-radius;
  }

  &::-moz-range-track {
    cursor: pointer;
    background-color: $slider-track-bg;
    border: 0;
    border-radius: $slider-radius;
  }

  &::-ms-track {
    cursor: pointer;
    background-color: $slider-track-bg;
    border: 0;
    border-radius: $slider-radius;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background-color: $slider-track-bg;
    border-radius: $slider-radius;
  }

  &::-webkit-slider-thumb {
    cursor: pointer;
    background-color: $slider-thumb-background;
    border: $slider-thumb-border;
    border-radius: $slider-thumb-radius;
    transition: transform 0.2s ease;
  }

  &::-moz-range-thumb {
    cursor: pointer;
    background-color: $slider-thumb-background;
    border: $slider-thumb-border;
    border-radius: $slider-thumb-radius;
    transition: transform 0.2s ease;
  }

  &::-ms-thumb {
    cursor: pointer;
    background-color: $slider-thumb-background;
    border: $slider-thumb-border;
    border-radius: $slider-thumb-radius;
    transition: transform 0.2s ease;
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }

    &::-moz-range-thumb {
      transform: scale(1.25);
    }

    &::-ms-thumb {
      transform: scale(1.25);
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include slider-size($size-normal);
}

:host([rounded]) {
  .range {
    &::-webkit-slider-thumb {
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      border-radius: 50%;
    }

    &::-ms-thumb {
      border-radius: 50%;
    }
  }
}

:host([size="small"]) {
  .range {
    @include slider-size($size-small);
  }
}

:host([size="medium"]) {
  .range {
    @include slider-size($size-medium);
  }
}

:host([size="large"]) {
  .range {
    @include slider-size($size-large);
  }
}

@each $name, $color in $colors {
  :host([theme="#{$name}"]) {
    .range {
      &::-moz-range-track {
        background: $color;
      }

      &::-webkit-slider-runnable-track {
        background: $color;
      }

      &::-ms-track {
        background: $color;
      }

      &::-ms-fill-lower,
      &::-ms-fill-upper {
        background: $color;
      }

      &:focus {
        &:not(:active) {
          &::-webkit-slider-thumb {
            box-shadow: 0 0 0 0.125rem rgba($color, 0.25);
          }
          &::-moz-range-thumb {
            box-shadow: 0 0 0 0.125rem rgba($color, 0.25);
          }
          &::-ms-thumb {
            box-shadow: 0 0 0 0.125rem rgba($color, 0.25);
          }
        }
      }
    }
  }
}
