@import "../../common/variables";

$switch-track-color: var(--abu-switch-track-bg, #{$grey-light});
$switch-thumb-color: var(--abu-switch-thumb-bg, #{$white});
$switch-radius: $radius;
$switch-thumb-offset: 0.25rem;

@mixin switch-size($size) {
  $switch-height: $size * 1.5;
  $switch-width: $switch-height * 2;
  $thumb-height: $switch-height - $switch-thumb-offset * 2;
  $thumb-width: $switch-height - $switch-thumb-offset * 2;
  $thumb-active-offset: $switch-width - $thumb-width - $switch-thumb-offset * 1.5;

  .label {
    padding-left: $switch-width + 0.5;
    font-size: $size;

    &::before {
      width: $switch-width;
      height: $switch-height;
    }

    &::after {
      top: $switch-height / 2 - $thumb-height / 2;
      left: $switch-thumb-offset;
      width: $thumb-width;
      height: $thumb-height;
    }
  }

  .input:checked {
    + .label {
      &::after {
        left: $thumb-active-offset;
      }
    }
  }
}

.switch {
  line-height: 1.5;
}

.input {
  position: absolute;
  outline: none;
  opacity: 0;

  &:focus {
    + .label {
      /* Safari requires this */
      --abu-focus-shadow: hsla(
        var(--abu-hsl, #{$primary-h}, calc(#{$primary-s} * 1%), calc(#{$primary-l} * 1%)),
        0.25
      );

      &::before {
        box-shadow: 0 0 0 0.125rem var(--abu-focus-shadow);
      }
    }
  }

  &:disabled {
    + .label {
      cursor: default;
      opacity: 0.5;

      &::before {
        opacity: 0.5;
      }

      &::after {
        opacity: 0.5;
      }
    }
  }

  &:checked {
    + .label {
      &::before {
        background: var(--abu-color, #{$primary});
      }
    }
  }
}

.label {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: $switch-track-color;
    border: 0.125rem solid transparent;
    border-radius: $switch-radius;
  }

  &::after {
    position: absolute;
    background: $switch-thumb-color;
    border-radius: $switch-radius;
    transition: all 0.25s ease-out;
    transform: translate3d(0, 0, 0);
  }
}

:host {
  outline: none;
  @include switch-size($size-normal);
}

:host([size="small"]) {
  @include switch-size($size-small);
}

:host([size="medium"]) {
  @include switch-size($size-medium);
}

:host([size="large"]) {
  @include switch-size($size-large);
}

:host([rounded]) {
  .label {
    &::before {
      border-radius: $radius-large * 4;
    }

    &::after {
      border-radius: 50%;
    }
  }
}

:host([outlined]) {
  .label {
    &::before {
      background-color: transparent;
      border-color: $switch-track-color;
    }

    &::after {
      background: $switch-track-color;
    }
  }

  .input:checked {
    + .label {
      &::before {
        background-color: transparent;
        border-color: var(--abu-color, #{$primary});
      }

      &::after {
        background: var(--abu-color, #{$primary});
      }
    }
  }
}
