@import "../../common/variables";

$switch-background: $grey-light;
$switch-border: 0.1rem solid transparent;
$switch-background-active: $primary;
$switch-radius: $radius;
$switch-paddle-background: $white;
$switch-paddle-background-active: $primary;
$switch-paddle-offset: 0.25rem;
$switch-paddle-transition: all 0.25s ease-out;

@mixin switch-size($size) {
  $switch-height: $size * 1.5;
  $switch-width: $switch-height * 2;
  $paddle-height: $switch-height - $switch-paddle-offset * 2;
  $paddle-width: $switch-height - $switch-paddle-offset * 2;
  $paddle-active-offset: $switch-width - $paddle-width - $switch-paddle-offset * 1.5;

  .label {
    padding-left: $switch-width + 0.5;
    font-size: $size;

    &::before {
      width: $switch-width;
      height: $switch-height;
    }

    &::after {
      top: $switch-height / 2 - $paddle-height / 2;
      left: $switch-paddle-offset;
      width: $paddle-width;
      height: $paddle-height;
    }
  }

  .input:checked {
    + .label {
      &::after {
        left: $paddle-active-offset;
      }
    }
  }
}

.switch {
  line-height: 1.5;
}

.input {
  position: absolute;
  outline: none;
  opacity: 0;

  &:focus {
    + .label {
      &::before {
        box-shadow: 0 0 0 0.125rem rgba($link, 0.25);
      }
    }
  }

  &:disabled {
    cursor: default;

    + .label {
      opacity: 0.5;

      &::before {
        opacity: 0.5;
      }

      &::after {
        opacity: 0.5;
      }
    }
  }

  &:checked {
    + .label {
      &::before {
        background: $switch-background-active;
      }
    }

    &:focus {
      + .label {
        &::before {
          box-shadow: 0 0 0 0.125rem rgba($primary, 0.25);
        }
      }
    }
  }
}

.label {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: $switch-background;
    border: $switch-border;
    border-radius: $switch-radius;
  }

  &::after {
    position: absolute;
    background: $switch-paddle-background;
    border-radius: $switch-radius;
    transition: $switch-paddle-transition;
    transform: translate3d(0, 0, 0);
  }
}

:host {
  outline: none;
  @include switch-size($size-normal);
}

:host([size="small"]) {
  @include switch-size($size-small);
}

:host([size="medium"]) {
  @include switch-size($size-medium);
}

:host([size="large"]) {
  @include switch-size($size-large);
}

:host([rounded]) {
  .label {
    &::before {
      border-radius: $radius-large * 4;
    }

    &::after {
      border-radius: 50%;
    }
  }
}

:host([outlined]) {
  .label {
    &::before {
      background-color: transparent;
      border-color: $switch-background;
    }

    &::after {
      background: $switch-background;
    }
  }

  .input:checked {
    + .label {
      &::before {
        background-color: transparent;
        border-color: $switch-background-active;
      }

      &::after {
        background: $switch-paddle-background-active;
      }
    }
  }
}

@each $name, $color in $colors {
  :host([theme="#{$name}"]) {
    .input {
      &:checked {
        + .label {
          &::before {
            background: $color;
          }
        }

        &:focus {
          + .label {
            &::before {
              box-shadow: 0 0 0 0.125rem rgba($color, 0.25);
            }
          }
        }
      }
    }
  }

  :host([theme="#{$name}"][outlined]) {
    .input:checked {
      + .label {
        &::before {
          background-color: transparent;
          border-color: $color;
        }

        &::after {
          background: $color;
        }
      }
    }
  }
}
