@use "~@conversionxl/cxl-lumo-styles/scss/mixins";

:host {
  display: block;
}

#main {
  @include mixins.wrap();
}

/**
 * Fixed container, scrolling content columns.
 *
 * @see https://codepen.io/geon/pen/obrWxm
 */
:host([wide]) {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  #main {
    display: flex;
    flex-grow: 1; // Short content.
    height: 100%; // Safari.
    overflow: hidden;

    slot {
      display: block;
    }

    > aside > slot[name="sidebar"],
    > main {
      height: 100%;
      overflow-y: auto;
      scrollbar-width: thin;

      @include mixins.better-webkit-scrollbars();
    }

    > aside {
      flex: 0 0 auto;
    }

    > main {
      flex-grow: 1;
    }
  }
}

/**
 * Drawer.
 */
/* stylelint-disable no-duplicate-selectors */
$toggle-icon: "lumo:angle-right";

aside {
  --cxl-institute-layout-drawer-transition: 0.25s cubic-bezier(0, 1, 0, 1);

  position: relative;
  // @see https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
  max-height: var(--lumo-font-size-xxl);
  padding-bottom: calc(35px + var(--lumo-space-m));
  transition: var(--cxl-institute-layout-drawer-transition);

  // Exclude vaadin-button.
  ::slotted(*) {
    opacity: 0.2;
  }

  &[opened] {
    max-height: calc(100vh * 2);

    ::slotted(*) {
      opacity: unset;
    }

    [icon="#{$toggle-icon}"] {
      transform: rotate(-90deg);
    }
  }

  > vaadin-button {
    position: absolute; // `position: sticky` retains position on scroll, but creates vertical space.
    bottom: -1px; // Clip border.
    z-index: 1;
    padding: 0;
    margin: 0;
    background-color: var(--lumo-base-color);
    border: solid 1px var(--lumo-contrast-10pct);
  }

  [icon="#{$toggle-icon}"] {
    transform: rotate(90deg);
  }
}

main {
  position: relative; // Avoid `aside:not([opened])` bleeding through.
  display: flow-root;
  background-color: var(--lumo-base-color);
  border-top: solid 1px var(--lumo-contrast-10pct);
}

:host([wide]) {
  aside {
    --cxl-institute-layout-drawer-width: calc(22 * var(--lumo-space-m));
    --cxl-institute-layout-drawer-padding: calc(var(--cxl-wrap-padding) * 2);
    --cxl-institute-layout-drawer-peek-margin: calc(
      -1 * (var(--cxl-institute-layout-drawer-width) - var(--cxl-institute-layout-drawer-padding) +
            12px)
    );

    z-index: 0;
    width: var(--cxl-institute-layout-drawer-width);
    max-height: unset;
    padding-bottom: unset;
    margin-right: var(--cxl-institute-layout-drawer-peek-margin);

    > slot[name="sidebar"] {
      padding-right: var(--cxl-institute-layout-drawer-padding);
    }

    > vaadin-button {
      top: calc(var(--cxl-wrap-padding) - 6px);
      bottom: unset;
      left: 1px;
      transition: var(--cxl-institute-layout-drawer-transition);

      &:hover {
        color: var(--lumo-primary-color);
      }
    }

    [icon="#{$toggle-icon}"] {
      transform: unset;
    }

    &[opened] {
      margin-right: 0;

      > vaadin-button {
        left: calc(100% + 1px);
        transform: translateX(-100%);
      }

      [icon="#{$toggle-icon}"] {
        transform: rotate(180deg);
      }
    }
  }

  main {
    @include mixins.wrap($padding: var(--lumo-space-l));

    margin-top: unset;

    [icon="#{$toggle-icon}"] {
      transform: unset;
    }
  }

  #main {
    // @todo #main @include mixins.wrap() shrinks flex child. Flex-native expand solution?
    width: calc(100% - var(--cxl-wrap-padding) * 2);
  }
}
/* stylelint-enable no-duplicate-selectors */

/**
 * Visuals.
 */
/* stylelint-disable no-duplicate-selectors */
:host([wide]) {
  main {
    border-top-left-radius: var(--lumo-border-radius-l);
    box-shadow: var(--lumo-box-shadow-s);
  }
}
/* stylelint-enable no-duplicate-selectors */

/**
 * Flipped layout.
 * Padding is affected by scrollbar positions.
 */
:host([theme~="2c-l"]) {
  #main {
    display: flex;
    flex-direction: column;
  }
}

/**
 * No reason to hide anything when at screen bottom.
 */
:host([theme~="2c-l"]:not([wide])) {
  aside {
    max-height: unset;
    padding-bottom: unset;

    > vaadin-button {
      display: none;
    }

    ::slotted(*) {
      opacity: unset;
    }
  }
}

:host([theme~="2c-l"][wide]) {
  aside {
    margin-right: calc(
      var(--cxl-institute-layout-drawer-peek-margin) + var(--cxl-institute-layout-drawer-padding)
    );

    > slot[name="sidebar"] {
      padding-left: var(--cxl-institute-layout-drawer-padding);
    }

    > vaadin-button {
      left: -1px;
    }

    [icon="#{$toggle-icon}"] {
      transform: rotate(180deg);
    }

    // Better closed drawer fade.
    &::after {
      position: absolute;
      top: 0;
      left: var(--cxl-institute-layout-drawer-padding);
      display: block;
      width: var(--cxl-institute-layout-drawer-padding);
      height: 100%;
      content: "";
      background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--lumo-base-color));
    }

    &[opened] {
      margin-right: 0;

      > vaadin-button {
        transform: unset;
      }

      [icon="#{$toggle-icon}"] {
        transform: unset;
      }

      &::after {
        content: unset;
      }
    }
  }

  #main {
    flex-direction: unset;

    // Stop padding-box overflow leak.
    padding-right: unset;
    border-right: solid var(--cxl-wrap-padding) transparent;
  }
}
