$small: "only screen and (min-width: 35.5em)"; /*  568px */
$medium: "only screen and (min-width: 48em)"; /*  768px */
$large: "only screen and (min-width: 64em)"; /* 1024px */
$x-large: "only screen and (min-width: 80em)"; /* 1280px */
$retina: "only screen and (min-width: 90em)"; /* 1440px */
