@use "mixins";

html {
  // Variables.
  --cxl-content-width: 36em;
  --cxl-wrap-width: 72rem;
  --cxl-wrap-padding: var(--lumo-space-m);

  /**
   * Shadow.
   *
   * @see https://cdn.vaadin.com/vaadin-lumo-styles/1.5.0/demo/styles.html#shadow
   * @see https://sass-lang.com/documentation/style-rules/declarations#custom-properties
   */
  $cxl-box-shadow-width: var(--cxl-box-shadow-width, 1px);
  $cxl-box-shadow-color: var(--cxl-box-shadow-color, var(--lumo-shade-10pct));

  --cxl-box-shadow: #{$cxl-box-shadow-width} 0 0 0 #{$cxl-box-shadow-color},
    0 #{$cxl-box-shadow-width} 0 0 #{$cxl-box-shadow-color},
    #{$cxl-box-shadow-width} #{$cxl-box-shadow-width} 0 0 #{$cxl-box-shadow-color},
    #{$cxl-box-shadow-width} 0 0 0 #{$cxl-box-shadow-color} inset,
    0 #{$cxl-box-shadow-width} 0 0 #{$cxl-box-shadow-color} inset;
}

// @see https://github.com/necolas/normalize.css/blob/8.0.1/normalize.css#L20
body {
  margin: 0;
}

a {
  color: var(--lumo-primary-color);

  // Avoid visual overload.
  text-decoration: none;

  // Only when navigable.
  &[href]:hover {
    text-decoration: underline;
  }

  // Icon alignment.
  iron-icon + & {
    vertical-align: middle;
  }
}

// Heading highlights w/ formatting (strikethrough etc) support.
b,
strong {
  h1 &,
  h2 &,
  h3 & {
    color: var(--lumo-primary-color);
  }
}

code,
pre {
  overflow-x: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding-left: var(--lumo-space-l);
}

/**
 * headroom.js
 */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}

/**
 * Classes.
 */
// @see https://tailwindcss.com/docs/font-weight/
// @todo Integrate tailwindcss.
.font-light {
  font-weight: 300;
}

.thumbnail {
  --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 3);
  width: var(--cxl-thumbnail-size);
  height: var(--cxl-thumbnail-size);
  border-radius: 50%;
}

.wrap {
  @include mixins.wrap();
}
