html {
  // Variables.
  --cxl-wrap-width: 90rem;
  --cxl-wrap-padding: var(--lumo-space-m);

  // @see https://github.com/necolas/normalize.css/blob/8.0.1/normalize.css#L12
  line-height: 1.15; /* 1 */
}

// @see https://github.com/necolas/normalize.css/blob/8.0.1/normalize.css#L20
body {
  margin: 0;
}

a {
  color: var(--lumo-primary-color);

  // Avoid visual overload.
  text-decoration: none;

  // Only when navigable.
  &[href]:hover {
    text-decoration: underline;
  }
}

/**
 * headroom.js
 */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}
