/**
 * App should inline this in `<style>` tag, early in <head>.
 */
html {
  --cxl-loading-spinner-url: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255) none repeat scroll 0%25 0%25; display: block; shape-rendering: auto;" width="48px" height="48px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"%3E%3Ccircle cx="50" cy="50" fill="none" stroke="%23d61f2c" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"%3E%3CanimateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E');
  --cxl-transition-duration: 0.5s;
}

/**
 * Avoid animated SVG `content` on resolved state, browser continues to animate and CPU burn with `opacity: 0`.
 */
body::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

/**
 * @see https://developers.google.com/web/fundamentals/performance/rendering/stick-to-compositor-only-properties-and-manage-layer-count
 */
body[unresolved] {
  overflow: hidden;
  will-change: opacity;
}

body[unresolved]::before {
  z-index: 2; /* vs `cxl-section.has-wave` */
  content: var(--cxl-loading-spinner-url);
}

/**
 * @see https://codersblock.com/blog/the-surprising-things-that-css-can-animate/#fade-and-go-away
 */
@keyframes cxl-dismiss {
  to {
    opacity: 1;
  }
}

body:not([unresolved]) {
  opacity: 0;
  animation: cxl-dismiss var(--cxl-transition-duration) forwards;
}

/**
 * Avoid custom element FOUC.
 *
 * @see https://github.com/conversionxl/aybolit/issues/11
 */
:not(:defined) {
  opacity: 0;
  transition: opacity var(--cxl-transition-duration) ease-in-out;
}
