@use "./icons";
@use "./mq";

html {
  /**
   * Font family.
   *
   * @see https://cdn.vaadin.com/vaadin-lumo-styles/1.5.0/demo/typography.html#font-family
   */
  --lumo-font-family: "Roboto", sans-serif;
  --cxl-lumo-font-secondary: "Libre Baskerville", "Georgia", serif;

  /**
   * Font size.
   *
   * @ see https://cdn.vaadin.com/vaadin-lumo-styles/1.5.0/demo/typography.html#font-size
   */
  --cxl-lumo-font-size-hero: var(--lumo-font-size-xxxl);

  @media #{mq.$small} {
    --cxl-lumo-font-size-hero: 4rem;
  }
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  word-break: break-word;
}

h1 {
  margin-top: 0;
  font-size: var(--cxl-lumo-font-size-hero);
  font-weight: 900;

  b,
  strong {
    font-weight: inherit;
  }
}

h2 {
  @media #{mq.$small} {
    font-size: var(--lumo-font-size-xxxl);
  }
}

h3 {
  @media #{mq.$small} {
    font-size: var(--lumo-font-size-xxl);
  }
}

h4 {
  @media #{mq.$small} {
    font-size: var(--lumo-font-size-xl);
  }
}

h5 {
  font-size: var(--lumo-font-size-l);
}

h6 {
  font-size: var(--lumo-font-size-m);
}

p {
  font-family: var(--cxl-lumo-font-secondary);
}

blockquote {
  --lumo-secondary-text-color: var(--lumo-tint);
  padding: var(--lumo-space-m) var(--lumo-space-xl);
  margin: 0;
  font-style: italic;
  background-color: var(--lumo-shade);
  border-left: var(--lumo-space-s) solid var(--lumo-primary-color);
  box-shadow: var(--lumo-box-shadow-xs);

  @include icons.mixin-icon("vaadin-icons-quote-right") {
    color: var(--lumo-primary-color);
  }
}
