@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "../mixins";

cxl-vaadin-accordion {
  /**
   * Theme "cxl-accordion-card".
   */
  &[theme~="cxl-accordion-card"] {
    iron-icon {
      --iron-icon-height: var(--lumo-icon-size-s);
      --iron-icon-width: var(--iron-icon-height);
    }

    p {
      font-family: inherit;
    }

    .entry-byline {
      display: flex; // iron-icon vs text alignment
      flex-basis: 100%;
      flex-wrap: wrap;
      margin: var(--lumo-space-s) 0;
      overflow: hidden;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;

      // @see https://stackoverflow.com/questions/29732575/how-to-specify-line-breaks-in-a-multi-line-flexbox-layout
      hr {
        width: 100%;
        margin: 0;
        visibility: hidden;
      }
    }

    .entry-title {
      flex: 1;
      height: calc(var(--lumo-line-height-xs) * 4em);
      overflow: hidden;
      font-size: var(--lumo-font-size-xl);
      word-break: break-word;
    }

    cxl-accordion-card[opened] {
      .entry-title {
        overflow: visible;
      }
    }
  }

  /**
   * Theme "cxl-minidegree-track".
   */
  &[theme~="cxl-minidegree-track"] {
    cxl-vaadin-accordion[theme="cxl-minidegree-course"] {
      margin-top: var(--lumo-space-m);
    }

    .entry-title {
      @include mixins.entry-title-with-progress-icons();

      margin: 0;
    }

    .track > .entry-header > .entry-title {
      align-items: center;
      font-weight: 900;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      > span {
        display: inline-block;
        width: var(--lumo-space-l);
        height: var(--lumo-space-l);
        padding: var(--lumo-space-s);
        margin-right: var(--lumo-space-s);
        font-size: 60%;
        line-height: var(--lumo-space-l);
        color: var(--lumo-tint);
        text-align: center;
        vertical-align: bottom;
        background-color: var(--lumo-primary-color);
        border-radius: var(--lumo-border-radius);
      }
    }
  }

  /**
   * Theme "cxl-minidegree-course".
   */
  &[theme~="cxl-minidegree-course"] {
    p {
      font-family: inherit;
    }

    .entry-header {
      display: grid;
      grid-column-gap: var(--lumo-space-m);
      grid-template-columns: auto 1fr;
      margin-right: var(--lumo-space-m); // vs [part="toggle"]

      .entry-excerpt {
        grid-column-start: 1;
        grid-column-end: 3;

        @media #{mq.$small} {
          grid-column-start: 2;
        }

        p {
          margin-bottom: 0; // match .entry-title margin-top 0
        }
      }

      // Image, maybe linked.
      > :first-child {
        grid-row-start: 1;
        grid-row-end: 2;

        @media #{mq.$small} {
          grid-row-end: 3;
        }
      }
    }

    .entry-summary {
      @media #{mq.$small} {
        // @todo Eliminate magic number.
        margin-left: calc(var(--lumo-space-m) * 5.5);
      }
    }

    .thumbnail {
      --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 2);
      background-color: var(--lumo-contrast-5pct);
    }
  }
}
