$grey-light: #b5b5b5;
$grey-lighter: #dbdbdb;
$grey-dark: #4a4a4a;
$grey-darker: #363636;
$white-ter: #f5f5f5;
$white: #fff;

$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 290486px;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

/* Colors in the format for contrast calculation */
$primary-h: var(--abu-primary-h, 171);
$primary-s: var(--abu-primary-s, 100);
$primary-l: var(--abu-primary-l, 41);

$info-h: var(--abu-info-h, 204);
$info-s: var(--abu-info-s, 86);
$info-l: var(--abu-info-l, 48);

$success-h: var(--abu-success-h, 141);
$success-s: var(--abu-success-s, 71);
$success-l: var(--abu-success-l, 48);

$warning-h: var(--abu-warning-h, 48);
$warning-s: var(--abu-warning-s, 100);
$warning-l: var(--abu-warning-l, 67);

$danger-h: var(--abu-danger-h, 348);
$danger-s: var(--abu-danger-s, 100);
$danger-l: var(--abu-danger-l, 48);

$link-h: var(--abu-link-h, 217);
$link-s: var(--abu-link-s, 71);
$link-l: var(--abu-link-l, 53);

$themes: (
  "primary": (
    $primary-h,
    $primary-s,
    $primary-l
  ),
  "info": (
    $info-h,
    $info-s,
    $info-l
  ),
  "success": (
    $success-h,
    $success-s,
    $success-l
  ),
  "warning": (
    $warning-h,
    $warning-s,
    $warning-l
  ),
  "danger": (
    $danger-h,
    $danger-s,
    $danger-l
  )
);

$primary: hsl(#{$primary-h}, calc(#{$primary-s} * 1%), calc(#{$primary-l} * 1%));
$info: hsl(#{$info-h}, calc(#{$info-s} * 1%), calc(#{$info-l} * 1%));
$success: hsl(#{$success-h}, calc(#{$success-s} * 1%), calc(#{$success-l} * 1%));
$warning: hsl(#{$warning-h}, calc(#{$warning-s} * 1%), calc(#{$warning-l} * 1%));
$danger: hsl(#{$danger-h}, calc(#{$danger-s} * 1%), calc(#{$danger-l} * 1%));
$link: hsl(#{$link-h}, calc(#{$link-s} * 1%), calc(#{$link-l} * 1%));
