$grey-light: #b5b5b5;
$grey-lighter: #dbdbdb;
$grey-dark: #4a4a4a;
$grey-darker: #363636;
$white-ter: #f5f5f5;
$white: #fff;

$blue: #3273dc;
$red: #ff3860;
$yellow: #ffdd57;
$green: #23d160;
$cyan: #209cee;
$turquoise: #00d1b2;

$primary: $turquoise;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $blue;

$primary-invert: rgba(0, 209, 178, 0.25);
$info-invert: rgba(32, 156, 238, 0.25);
$success-invert: rgba(35, 209, 96, 0.25);
$warning-invert: rgba(255, 221, 87, 0.25);
$danger-invert: rgba(255, 56, 96, 0.25);
$link-invert: rgba(50, 115, 220, 0.25);

$colors: (
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);

$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 290486px;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

$link: $blue;

$link-hover: $grey-darker;
$link-hover-border: $grey-light;

$link-focus: $grey-darker;
$link-focus-border: $blue;

$link-active: $grey-darker;
$link-active-border: $grey-dark;
